#Amanda Quach

import random
FILENAME = "wizard_all_items.txt"

with open ("wizard_inventory.txt", "w") as outfile:
    outfile.write("")
    
FILENAME1 = "wizard_inventory.txt"

def display_title():
    print("The Wizard Inventory program\n")

def display_menu():
    print("COMMAND MENU, "
          "\nwalk - Walk down the path"
          "\nshow - Show all items"
          "\ndrop - Drop an item"
          "\nexit - Exit the program")

def write_inventory(inventory):
    with open(FILENAME1, "w") as file:
        for item in inventory:
            file.write(item + "\n")
        
def show_inventory(inventory):
    for i in range(len(inventory)):
        show = inventory[i]
        print(str(i+1) + ". " + show)

def read_all_items():
    all_items = []
    with open(FILENAME) as file:
        for line in file:
            line = line.replace("\n", "" )
            all_items.append(line)
    return all_items


def read_inventory():
    inventory = []
    with open(FILENAME1) as file:
        for line in file:
            line = line.replace("\n", "" )
            inventory.append(line)
    return inventory 

def walk(item):
    rand = random.choice(item)
    print("While walking down a path, you see " + rand + ".")
    answer = input("Do you want to grab it (y/n): ")
    items = read_inventory()
    if answer.lower() == "y":
        if len(items) < 4:
            with open("wizard_inventory.txt", "a") as file:
                file.write(rand + "\n")
            print("You picked up " + rand + ".")
        else:
            print("You can't carry anymore items. Drop something first")
    elif answer.lower() == "n":
        print()
    else:
        print("Enter valid command(y/n).")
    

def drop(inventory):
    number = int(input("Number: "))
    items = read_inventory()
    if number <= len(items):
        remove = inventory.pop(number - 1)
        write_inventory(inventory)
        print("You dropped " + remove + ".")
    else:
        print("Please enter a valid number for the item.")
        
            
def main():
    display_title()
    display_menu()
    item = read_all_items()
    while True:
        command = input("\nCommand: ")
        if command.lower() == "walk":
            walk(item)
            inventory = read_inventory()
        elif command.lower() == "show":
            show_inventory(inventory)
        elif command.lower() == "drop":
            drop(inventory)
        elif command.lower() == "exit":
            break
        else:
            print("Enter a valid command")
            continue
    print("Bye!")


if __name__ == "__main__":
    main()
